<!DOCTYPE html>
<html>
<head>
    <title>Detective Impact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logoimpact.ico') }}">
</head>
<body>
    <video autoplay muted loop src="{{ url_for('static', filename='bg.mp4') }}"></video>
    <div class="container">
        <img src="{{ url_for('static', filename='thanks.png') }}" alt="Image" class="center">
        <h1>Detective Impact</h1>
        <h1>Thank You!</h1>
        <p>Thank you for using the Detective Impact! We hope you enjoyed it.</p>
        <p>Developed by: Jessica Danilova</p>
    </div>
</body>
</html>
