<!DOCTYPE html>
<html>
<head>
    <title>Detective Impact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logoimpact.ico') }}">
</head>
<body>
    <video autoplay muted loop src="{{ url_for('static', filename='bg.mp4') }}"></video>
    <div class="container">
        <img src="{{ url_for('static', filename='image_placeholder.png') }}" alt="Image" class="center">
        <h1>Detective Impact</h1>
        <div class="result-box">
            <span>Your character is {{ character['name'] }}!</span>
            <img src="{{ url_for('static', filename='image_placeholder.png') }}" alt="Character Image" class="center">
        </div>
        <form action="/restart" method="post">
            <button type="submit" class="restart-button">Yes</button>
            <button type="submit" class="restart-button">No</button>
        </form>
    </div>
</body>
</html>
